<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<header>
    <h1>Calculator page</h1>
    <a href="{% url 'home' %}"><button>back<</button></a>
    <hr>

</header>
<body>
    <div>
        <form method="post">
            {% csrf_token %}
            <p>
                <input type="text" name="number1" placeholder="Enter number1" id="">
            </p>
            <p>
                <input type="text" name="char" placeholder="Enter + - / *" id="">
            </p>
            <p>
                <input type="text" name="number2" placeholder="Enter number2" id="">
            </p>
            <button type="submit">Calculate</button>
        </form>
    </div>
    <div>
        {% if result %}
            <h4>Result = {{ result }}</h4>

        {% endif %}
    </div>
</body>
</html>